# The White Protocol — App Environment Variables

# Relayer
NEXT_PUBLIC_RELAYER_URL=https://relayer-devnet.thewhiteprotocol.com

# Chain Configuration
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_PROGRAM_ID=DbYzCrBEt1Efxf9LB2P7A6vqPjuA8ugDBh1kCunESJZk

NEXT_PUBLIC_BASE_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_BASE_CONTRACT_ADDRESS=0xCE959493cf6F15314b4B9eEbb28369716341e7FE

# Stealth Defaults
NEXT_PUBLIC_STEALTH_AUTO_ENABLE=true
NEXT_PUBLIC_STEALTH_META_ADDRESS_VERSION=1
